/* **  counter-input.component.css  ** */

.app-custom-value{
    margin: 15px 0px;
    padding: 10px 2px;
    width: 100%;
    border-top: #CDCDCD 1.5px solid;
}

.toggle-btn-container{
    padding: 4px 10px;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: #76008e;
}
.toggle-btn{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.custom-input-container {
  padding: 20px 30px;
  border: #CDCDCD 1.5px solid;
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between rows */
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px; /* spacing between input & button */
}

.input-group input {
  flex: 1; /* take remaining space */
  height: 35px;
  padding: 3px 5px;
  border: #e74c3c 1.5px solid;
  background-color: transparent;
}

.btn-action {
  height: 35px;
  padding: 0 15px;
  border: none;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  white-space: nowrap; /* prevents text wrapping */
}